.layout {
  background: #F6F6EF;
  width: 80vw;
  margin: auto;
  @media screen and (max-width:1020px) {
    width: 100vw;
  }
  .row {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  span {
    color: #ccc;
    font-size: 12px;
    text-align: right;
    margin-right: .5em;
    width: 2em;
  }
  button {
    border: none;
    margin: .5em 2.5em;
    font-size: 1em;
    padding: 0;
  }
}
