.comment-container {
  padding: 0 1em;

  @media screen and (max-width:1020px) {
    max-width: 70%;
    padding-left: 2em;
  }
  @media screen and (max-width:720px) {
    max-width: 70%;
    padding: 0;
  }
  .arrow-up {
    position: relative;
    top: -.3em;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: .3em;
    border-bottom: 5px solid #ccc;
  }
  .head {
    color: rgb(160, 160, 160);
    width: 100%;
  }
  .more-btn {
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(160, 160, 160);
    font-size: 1em;
  }
  .arrow-up {
    position: relative;
    top: .3em;
  }
  .card-title {
    margin: 0;
    font-size: .8em;
    margin-left: 1.5em;
    width: 100%;
  }
  .text {
    @extend .card-title;
    margin-top: 0.5em;
    line-height: 1.5em;
    color: #000;
    min-width: 20em;
    max-width: 70%;
    @media screen and (max-width:720px) {
      font-size: 1em;
      width: auto;
    }
  }
}

::ng-deep .text a {
  font-size: 1em;
  color: rgb(160, 160, 160);
  @media screen and (max-width:720px) {
    font-size: .7em;
  }
}

::ng-deep code {
  font-size: .5em;
}
