<footer class="footer">
  <ul class="list">
    <li class="item">Guidelines</li>
    <li class="item">FAQ</li>
    <li class="item">Support</li>
    <li class="item gray">API</li>
    <li class="item">Secury</li>
    <li class="item">Lists</li>
    <li class="item">Bookmarklet</li>
    <li class="item">Legal</li>
    <li class="item">Apply to YC</li>
    <li class="item">contact</li>
  </ul>
  <div class="search-form">
    <label for="search gray">Search: </label>
    <input type="text" name="search" id="search">
  </div>
</footer>
