
.card {
  width: 80%;
  min-width: 20em;
  max-width: 50em;
  display: flex;
  align-items: center;
  margin-left: 1em;

  .arrow-up {
    position: relative;
    top: .1em;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: .3em;
    border-bottom: 5px solid #ccc;
  }

  .card-body {
    margin: 1em 0 0 .2em;
    align-self: end;
    @media screen and (max-width:1020px) {
      padding-right: 2em;
    }
    @media screen and (max-width:720px) {
      font-size: 1em;
      width: auto;
    }
  }

  .card-title {
    color: #000;
  }

  .card-text {
    margin: 0;
    padding: 0;
    font-size: .8em;
    color: rgb(160, 160, 160);
  }
  .sub-info {
    font-size: .8em;
    color: rgb(160, 160, 160);
  }
}
