<div class="card" *ngIf="story">
  <span class="arrow-up"></span>
  <div class="card-body">
    <a class="card-title" [href]="story.url" target="_blank">{{ story.title }}</a>
    <p class="card-text">
      {{ story.score }} points by
      <a class="sub-info" >{{ story.by }} </a>
      <a class="sub-info" >{{ story.time | date: 'HH' }} hours ago</a> |
      <a class="sub-info" >hide</a> |
      <a class="sub-info" (click)="onShowComments(story.id)" >{{ story.descendants }} comments</a>
    </p>
  </div>
</div>
